@font-face {
  font-family: 'SavileRowDefaultFont';
  src: url(../fonts/Ayres.ttf), url(../fonts/Ayres.otf);
}

#main-header {
  background-color: #fefefe;
}

#main-header h1 {
  text-indent: -1000px;
  overflow: hidden;
  background: transparent url(../images/header-logo.png) no-repeat left center;
  width: 525px;
  height: 126px;
}

#main-header nav {
  margin-top: 72px;
}

#main-header nav a {
  font: normal 33px 'SavileRowDefaultFont', serif;
  display: block;
  padding: 4px 10px;
  color: #1e1314;
  background-color: #f0f0f0;
}

#main-header nav a:hover, #main-header nav a.active {
  color: #fff;
  background-color: #7f1518;
  text-decoration: none;
}

#jumbotron {
  background: #000000 url(../images/jumbotron-background.jpg) no-repeat center center;
  border-bottom: 8px solid #821616;
  width: 100%;
  height: 466px;
  color: #fff;
}

#jumbotron h1 {
  text-indent: -1000px;
  overflow: hidden;
  background: transparent url(../images/jumbotron-logo.png) no-repeat center center;
  width: 525px;
  height: 470px;
}

#jumbotron h2 {
  color: #fff;
  font: normal 92px 'SavileRowDefaultFont', serif;

}

main section header h1 {
  color: #7f1518;
  font: bold 45px 'SavileRowDefaultFont', serif;
  text-transform: uppercase;
}

main section header h1:after {
  content: url('../images/savile-arrow.png');
  line-height: 45px;
  padding-left: 16px;
  margin-top: -8px;
}

main section h2 {
  color: #7f1518;
  font: bold 45px 'SavileRowDefaultFont', serif;
  text-transform: capitalize;
}

main section h2 span {
  text-transform: uppercase;
}

main section h3 {
  color: #000000;
  font: bold 30px 'SavileRowDefaultFont', serif;
}

#services {
  padding-bottom: 2em;
}

#equipe div.container {
  background: transparent url(../images/equipe-beatles-gray.png) no-repeat right center;
}

#equipe p {
  font: normal 20px Arapey sans-serif;
  color: #4f4f4f;
}

p, .services-items li {
  font: normal 20px Arapey sans-serif;
}

#equipe {
  background: #e0e0e0 url(../images/equipe-background.jpg) repeat center center;
  border-color: #cbcbcb;
  border-width: 1px 0;
  border-style: solid;
}

li.contact-phone {
  font: normal 16px Arial, sans-serif;
  color: #3b3636;
}
li.contact-envelope a {
  font: normal 16px Arial, sans-serif;
  color: #b61e22;
}
li.contact-home {
  font: normal 16px Arial, sans-serif;
  color: #4f4f4f;
}

a {
  color: #b61e22;
}

#partenaires {
  background: #f3f3f3 url(../images/partners-background.png) repeat center center;
}

#partenaires p, dd {
  font: normal 25px Arapey, sans-serif;
  color: #000;
}

#partenaires .media-body p a:after {
  content: " ("attr(href)")";
}

#actualites {
  background-color: #7f1519;
}

#actualites * {
  color: #fff;
}

#main-footer {
  background-color: #1a171b;
  color: #1a171b;
  height: 40px;
}

.media.portrait a {
  margin-top: 45px;
  padding-right: 22px;
}

.media-list img {
  margin-right: 22px;
}
