@font-face {
  font-family: 'SavileRowDefaultFont';
  src: url(../fonts/Ayres.ttf), url(../fonts/Ayres.otf);
}

#main-header {
  background-color: #fefefe;
}

#main-header h1 {
  text-indent: -1000px;
  overflow: hidden;
  background: transparent url(../images/header-logo.png) no-repeat left center;
  width: 525px;
  height: 126px;
}

#jumbotron {
  background: #000000 url(../images/jumbotron-background.jpg) no-repeat center center;
  border-bottom: 4px solid #821616;
  width: 100%;
  height: 466px;
  color: #fff;
}

#jumbotron h1 {
  text-indent: -1000px;
  overflow: hidden;
  background: transparent url(../images/jumbotron-logo.png) no-repeat center center;
  width: 525px;
  height: 470px;
}

#jumbotron h2 {
  color: #fff;
  font: normal 122px 'SavileRowDefaultFont', serif;
}

main section header h1, main section header h2 {
  color: #7f1518;
  font: bold 45px 'SavileRowDefaultFont', serif;
  text-transform: uppercase;
}

p {
  font: normal 20px Arapey sans-serif;
}

#equipe {
  background: #e0e0e0 url(../images/equipe-background.jpg) repeat center center;
  border-color: #cbcbcb;
  border-width: 1px 0;
  border-style: solid;
}

#partenaires {
  background-color: #f3f3f3;
}

#actualites {
  background-color: #7f1519;
}

#actualites * {
  color: #fff;
}

#main-footer {
  background-color: #1a171b;
  color: #1a171b;
  height: 40px;
}

.gravatar {
  background: transparent no-repeat left center;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  display: block;
  padding: 7px 0 0 7px;
}

.gravatar-border {
/*  width: 166px;
  height: 166px;
  border: 1px dotted #fefefe;
  border-radius: 50%;
  display: block;*/
}