#main-header {
  background-color: #fefefe;
}

#jumbotron {
  background: #000000;
  background: -moz-linear-gradient(left, #000000 0%, #4f2526 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#000000), color-stop(100%,#4f2526));
  background: -webkit-linear-gradient(left, #000000 0%,#4f2526 100%);
  background: -o-linear-gradient(left, #000000 0%,#4f2526 100%);
  background: -ms-linear-gradient(left, #000000 0%,#4f2526 100%);
  background: linear-gradient(to right, #000000 0%,#4f2526 100%);
  border-bottom: 4px solid #821616;
  width: 100%;
  height: 466px;
  color: #fff;
}

#jumbotron h1, #jumbotron h2 {
  color: #fff;
}

main h1, main h2 {
  color: #7f1718;
}

#equipe {
  background-color: #e0e0e0;
}

#partenaires {
  background-color: #f3f3f3;
}

#actualites {
  background-color: #7f1519;
}

#actualites * {
  color: #fff;
}

#main-footer {
  background-color: black;
  color: black;
}